---
layout: null
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <style type="text/css">
      {% capture include_to_scssify %}
        {% include landing.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
    </style>
  </head>
  <body onload="document.body.style.opacity='1'">
    <div class="container">
      <div class="content">
        <h1 class="page-title">{{site.title}}</h1>
        <h2 class="page-subtitle">{{site.subtitle}}</h2>

        <div class="hidden-xs-down">
          <div class="actions" style="width: {{ site.landing.size | times: 150 | plus: 100 }}px">
            <div class="btn-group btn-group-justified" role="group" aria-label="menu">
              {% include landing_buttons.html %}
            </div>
          </div>
        </div>

        <div class="hidden-sm-up">
          <div class="actions" style="width: 80%">
            <div class="btn-block btn-group-vertical" role="group" aria-label="menu">
              {% include landing_buttons.html %}
            </div>
          </div>
        </div>

        <div class="actions">
          <h3><a style="color: white;" href="tel:{{ site.phone }}">{{ site.phone }}</a></h3>
        </div>
        <span class="caption">Photo Credit: Andrea Ware</span>
      </div>
    </div>

  </body>
  <script>
    {% include landing.js %}
  </script>
  {% include google_analytics.html %}

</html>
