<div class="sidebar background-black">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="lead">{{ site.subtitle }}</p>
      {% assign cities = site.data.locations['cities'] %}
      <p>Serving {{ cities | join: ', ' }}.</p>

    </div>

    <nav class="sidebar-nav">
      {% if site.phone != nil %}<a class="sidebar-nav-item" href="tel:{{ site.phone }}">{{site.phone}}</a>{% endif %}
      {% for button in site.landing %}<a class="sidebar-nav-item{% if page.url == button.url %} active{% endif %}" href="{{ button.url  }}">{{ button.name }}</a>{% endfor %}
      {% for post in site.fb %}<a class="sidebar-nav-item{% if page.url == post.url %} active{% endif %}" href="{{ post.url }}">{{ post.title }}</a>{% endfor %}
    </nav>
    <hr/>
    <div class="sidebar-inline">
      {% if site.facebook != nil %}<a class="sidebar-nav-inline-item" href="https://www.facebook.com/{{ site.facebook }}" target="_blank">Facebook</a>{% endif %}
      {% if site.instagram != nil %}<a class="sidebar-nav-inline-item" href="https://www.instagram.com/{{ site.instagram }}" target="_blank">Instagram</a>{% endif %}
      {% if site.twitter != nil %}<a class="sidebar-nav-inline-item" href="https://www.twitter.com/{{ site.twitter }}" target="_blank">Twitter</a>{% endif %}
    </div>
  </div>
</div>
