---
layout: default
name: "Enter"
---

<h1>Welcome!</h1>

<p>Focus Beauty, offering mobile eyelash extensions in the greater seattle area.</p>

{% for service in site.data.services %}
  <table>
    <colgroup>
      <col span="1" style="width: 80%;">
      <col span="1" style="width: 20%;">
   </colgroup>
    <tbody>
      <tr>
        <td><strong>{{ service["title"] }}</strong></td>
        <td>Price</td>
      </tr>
    </tbody>
    <tfoot>
    {% for price in service["data"] %}
        <tr>
          <td>{{price["title"]}}</td>
          <td>{{price["value"]}}</td>
        </tr>
    {% endfor %}
    </tfoot>
  </table>
{% endfor %}
