---
layout: default
button: 'Enter'
title: 'EyeLash Extension Prices'
name: 'Services and Prices'
---

<h1>
  Services and Prices
  {% include book_now.html %}
</h1>

{% for service in site.data.services %}
  <table>
    <colgroup>
      <col span="1" style="width: 70%;">
      <col span="1" style="width: 30%;">
    </colgroup>
    <tbody>
      <tr>
        <td><strong>{{ service["title"] }}</strong></td>
        <td>{{ service["value"] }}</td>
      </tr>
    </tbody>
    <tfoot>
    {% for price in service["data"] %}
        <tr>
          <td>{{price["title"]}}</td>
          <td>{{price["value"]}}</td>
        </tr>
    {% endfor %}
    </tfoot>
  </table>
{% endfor %}
