<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "css/landing.css" | prepend: site.baseurl  }}">
    <style>
      * { margin: 0; padding: 0; }
      .container {
        height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover;
      	background-blend-mode: darken;
      	transition: background 3s;
      	background: url({{ 'assets/landing/background/IMG_5721.jpg' | prepend: site.baseurl }}) 50% 50% / cover no-repeat fixed;
        background-color: rgba(0, 0, 0, 0.4);
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1 class="page-title">{{site.title}}</h1>
        <h2 class="page-subtitle">{{site.subtitle}}</h2>

        <div class="hidden-xs-down">
          <div class="actions" style="width: {{ site.landing.size | times: 150 | plus: 100 }}px">
            <div class="btn-group btn-group-justified" role="group" aria-label="menu">
              {% include landing_buttons.html %}
            </div>
          </div>
        </div>

        <div class="hidden-sm-up">
          <div class="actions" style="width: 80%">
            <div class="btn-block btn-group-vertical" role="group" aria-label="menu">
              {% include landing_buttons.html %}
            </div>
          </div>
        </div>

        <div class="actions">
          <h3>{{ site.phone }}</h3>
        </div>
      </div>
    </div>
  </body>

  <script>
    var container = document.getElementsByClassName('container')[0];
    var bgImageArray = [
      {% for bg in site.static_files %}
        {% if bg.path contains 'landing/background' %}
          '{{ bg.path }}?{{bg.modified_time | date: "%Y-%m-%d-%H-%M-%S"}}',
        {% endif %}
      {% endfor %}
      ],
      secs = 6;

    bgImageArray.forEach(function(img){new Image().src = img;});

    (function backgroundSequence() {
      window.clearTimeout();
      var k = 0;
      for (var i = 0; i < bgImageArray.length; i++) {
        setTimeout(function(){
          container.style.background = "url(" + bgImageArray[k] + ") no-repeat center center fixed";
          container.style.backgroundSize ="cover";
          container.style.backgroundcolor = 'rgba(0,0,0,0.4)';

          if ((k + 1) === bgImageArray.length) {
            setTimeout(function() {backgroundSequence() }, (secs * 1000))
          } else {
            k++;
          }

        }, (secs * 1000) * i)
      }
    })
  </script>
  {% include google_analytics.html %}

</html>
